datasets==2.3.2
evaluate==0.1.2
huggingface-hub==0.8.1
ipykernel==6.15.0
ipython==8.4.0
jupyter-client==7.3.4
jupyter-core==4.10.0
matplotlib-inline==0.1.3
numpy==1.23.0
pandas==1.4.3
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
tokenizers==0.12.1
torch==1.11.0
transformers==4.20.1
